h1{
    /*border-top-style: solid;
    border-bottom-style: hidden;
    border-left-style: double;
    border-right-style: groove;*/
    border-style: solid groove hidden double;
    border-color: gold;
    border-left-width: 5px;
}

p{
    border-style: inset; 
    border-width: 10px; 
    border-color: pink; 
    border-radius: 10px; 
    padding: 5px; 
}

/*p{
    background-color:lightpink;
}*/